<h1>All Events</h1>
<% @posts.each do |post| %>
<div class="card m-4" style="width: 18rem; float:left;">
     <div class="card-body">
      <h3><%= post.title %> </h3>
      <p><%= post.body %> </p>
      <button type="button" class="btn btn-light">
         <%= link_to "More Info...", post_path(post) %>
      </button>
     </div>
</div>
<% end %>

